/* attendance_sheet_config_styles.css */

/* Block: attendance-sheet-config */
.attendance-sheet-config__dropdown-add-item {
    width: auto;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.attendance-sheet-config__default-value-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button container styling */
.attendance-sheet-config__button-container {
    text-align: right;
    margin-top: 2cm;
    margin-right: 2cm;
}

/* Save and Cancel buttons */
.attendance-sheet-config__button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.attendance-sheet-config__button--save {
    color: #FFFFFF;
    background-color: #0051F9;
    border-radius: 5px;
}

.attendance-sheet-config__button--cancel {
    color: #0051F9;
    background-color: #FFFFFF;
    border: 1px solid #0051F9;
    margin-left: 10px;
    border-radius: 5px;
}

/* Text field styles when the user add a new "Column Only" or "Column and Rows" item. */
.attendance-sheet-config__table input[type="text"] {
    border-radius: 5px;
}

.attendance-sheet-config__table__cell--first__input {
    display: flex;
    align-items: center;
}

/* Row colours in Attendance Sheet Table */
.attendance-sheet-config__table tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}

.attendance-sheet-config__table tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}

.attendance-sheet-config__table tbody tr:hover {
    background-color: #E7E6E6;
}
