{{!
    @template mod_facetoface/attendance_sheet_table

    This template will render a table used to configure attendance sheet items.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-attendance-sheet-table
    * data-attendance-items
    * data-table-header

    Context variables required for this template:
    * attendance_items - Attendance item data to display in the table.

    Example context (json):
    {
        "header_text": "Item",
        "empty_table": false,
        "attendance_items": [
            {
                "id": 100,
                "label": "Example Item #1",
                "movetitle": "Move Example Item #1"
            },
            {
                "id": 102,
                "label": "Example Item #2",
                "movetitle": "Move Example Item #2"
            }
        ]
    }
}}

<div id="facetoface-attendance-sheet-config-table-{{uniqid}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <table class="attendance-sheet-config-table w-100 table-sm table-hover generaltable" data-attendance-sheet-config-table>
                    <thead>
                    <tr>
                        <th data-table-header>{{header_text_column}}</th>
                        <th data-table-header>{{header_text_value}}</th>
                        <!-- 3rd column: the dropdown menu -->
                        <th data-table-header>
                            <select data-attendance-sheet-config-add-row>
                                <option value="">
                                    {{#str}}chooseoption, mod_facetoface{{/str}}
                                </option>
                                <option value="Name">Name</option>
                                <option value="Payroll">Payroll</option>
                                <option value="Email">Email</option>
                                <option value="Signature">Signature</option>
                                <option value="Header Only">Header Only</option>
                                <option value="Header and Row">Header and Row</option>
                            </select>
                        </th>
                    </tr>
                    </thead>

                    <tbody data-attendance-sheet-config-items>
                    <!-- "Empty" row displayed if no items exist -->
                    <tr class="empty" {{^empty_table}}hidden{{/empty_table}}>
                        <td colspan="3">
                            {{#str}}modform:emptytext, mod_facetoface{{/str}}
                        </td>
                    </tr>

                    <!-- Render existing rows from attendance_items -->
                    {{#attendance_items}}
                        {{> mod_facetoface/attendance_sheet_config_row}}
                    {{/attendance_items}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
