{{!
    @template mod_facetoface/attendance_sheet_row

    This template will render a row of the attendance sheet table.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-attendance-sheet-item
    * data-attendance-remove-row
    * data-value
    * data-label

    Context variables required for this template:
    * id - ID of the item being displayed.
    * label - Label to output.
    * movetitle - Title to display for move handle.

    Example context (json):
    {
        "id": 100,
        "label": "Example Item #1",
        "movetitle": "Move Example Item #1"
    }
}}

<tr data-attendance-sheet-config-item data-value="{{id}}" data-label="{{label}}">
    <td>
        <input name="item_ids[]" type="hidden" value="{{id}}" />
        {{>core/drag_handle}}
        {{label}}
    </td>
    <td class="action-column">
        <a href="#" data-attendance-remove-row data-remove-value="{{id}}">
            {{#pix}} t/delete, core, {{#str}}modform:removerow, mod_facetoface{{/str}} {{/pix}}
        </a>
    </td>
</tr>
