{{!
    @template mod_facetoface/attendance_sheet_row

    This template will render a row of the attendance sheet table.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-attendance-sheet-item
    * data-attendance-sheet-config-remove-row
    * data-remove-value

    Context variables required for this template:
    * column - Column namestring or enum (if defined).
    * value - Default value.

    Example context (json):
    {
        "column": "Pass/Fail",
        "value": "Pass/Fail"
    }
}}

<tr data-attendance-sheet-config-item {{#editable}}data-changeable="{{type}}"{{/editable}}>
    <td>
        {{#editable}}
            {{> core/drag_handle}}
            <input type="text" name="column_names[]" />
        {{/editable}}
        {{^editable}}
            {{> core/drag_handle}}
            {{column}}
        {{/editable}}
    </td>
    <td>
        {{#editable}}
            <input type="text" name="header_values[]" />
        {{/editable}}
        {{^editable}}
            {{value}}
        {{/editable}}
    </td>
    <td class="action-column">
        <a href="#" data-attendance-sheet-config-remove-row>
            {{#pix}} t/delete, core, {{#str}}modform:removerow, mod_facetoface{{/str}} {{/pix}}
        </a>
    </td>
</tr>