{{!
    @template mod_courselist/course_config_table

    This template will render a table used to configure course list source items.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-course-config-table
    * data-config-items
    * data-table-header

    Context variables required for this template:
    * config_items - Configuration item data to display in the table.

    Example context (json):
    {
        "header_text": "Course",
        "empty_table": false,
        "config_items": [
            {
                "id": 100,
                "label": "Example Course #1",
                "movetitle": "Move Example Course #1"
            },
            {
                "id": 102,
                "label": "Example Course #2",
                "movetitle": "Move Example Course #2"
            }
        ]
    }
}}

<div id="courselist-course-config-table-{{uniqid}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <table class="course-config-table w-100 table-sm table-hover generaltable" data-course-config-table>
                    <thead>
                    <tr>
                        <th colspan="2" data-table-header>{{header_text}}</th>
                    </tr>
                    </thead>

                    <tbody data-config-items>
                    <tr class="empty" {{^empty_table}}hidden{{/empty_table}}>
                        <td colspan="2">
                            {{#str}}modform:emptytext, mod_courselist{{/str}}
                        </td>
                    </tr>

                    {{#config_items}}
                        {{>mod_courselist/course_config_row}}
                    {{/config_items}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>